:root {
	--white: #fff;
	--white-rgb: 255, 255, 255;
	--black: #272822;
	--black-rgb: 39, 40, 34;
  --dark-candy-apple-red: #a40000;
  --dark-candy-apple-red-rgb: 164, 0, 0;
  --cavern-pink: #e8bfbf;
  --cavern-pink-rgb: 232, 191, 191;

	--primary-color: var(--cavern-pink);
	--primary: var(--primary-color);
	--primary-rgb: 110, 255, 139;
	--secondary-color: var(--dark-candy-apple-red);
	--secondary: var(--secondary-color);
	--secondary-rgb: var(--charcoal-rgb);

	--body-bg: rgba(var(--cavern-pink-rgb), 0.2);
	--header-bg: var(--dark-candy-apple-red);
	--header-text-color: var(--cavern-pink);
	--text-color: var(--black);
	--text-color-negative: var(--black);
	--link-color: var(--dark-candy-apple-red);
	--link-color-hover: rgba(var(--dark-candy-apple-red-rgb), 0.8);

	--base-font: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Droid Sans', 'Helvetica Neue';
	--logo-font: 'Shadows Into Light', cursive;
	--base-font-size: 62.5%;
	--base-font-weight: 400;
	--bold-font-weight: 800;
	--base-line-height: 1.5;
	--content-font: 'Source Sans Pro', var(--base-font), sans-serif;
	--heading-font: 'Bebas Neue', var(--base-font), sans-serif;
	--code-font: 'Fira Code', monospace;

	--xs: rem(480);
	--xs-max: rem(479);
	--sm: rem(768);
	--sm-max: rem(767);
	--md: rem(992);
	--md-max: rem(991);
	--lg: rem(1240);
	--lg-max: rem(1239);
	--xl: rem(1920);

	--header-height: rem(80);
	--footer-height: rem(100);

	--transition: 0.2s ease-in-out;
}
