/* Write your global styles here, in PostCSS syntax */
@import url('//fonts.googleapis.com/css?family=Bebas+Neue|Shadows+Into+Light|Source+Sans+Pro:wght@300|Fira+Code');
@import 'styles/variables.css';

@import 'styles/layout.postcss';
@import 'styles/header.postcss';

/* Tailwinded */
@tailwind base;
@tailwind components;
@tailwind utilities;
